<%- include('./partials/header.ejs') %>

<div class="p-6">
    <h1 class="text-4xl mb-6 font-semibold text-primary">Welcome to Book World</h1>
    <img src="assets/images/books-banner.jpg" alt="" width="1000px">
</div>

<%- include('./partials/footer.ejs') %>